{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Успешная регистрация – {{ event.name }}{% endblock %}

{% block css_stran %}
    <link rel="stylesheet" href="{% static 'main/css/event.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'main/js/event.js' %}"></script>
{% endblock %}

{% block content %}
<div class="registration-success">
    <div class="success-card">
        <h1>🎉 Спасибо за регистрацию!</h1>
        <p class="event-name">Вы успешно зарегистрировались на <strong>{{ event.name }}</strong>.</p>

        <div class="event-details">
            <p><strong>Дата:</strong> {{ event.date_time|date:"d.m.Y" }}</p>
            <p><strong>Время:</strong> {{ event.date_time |time:"H:i" }}</p>
            <p><strong>Место проведения:</strong> {{ event.location }}</p>
        </div>

        <p class="confirmation-text">
            Подтверждение регистрации придет на вашу почту в течение часа.<br>
            Если этого не произошло, свяжитесь с нами по контактам, указанным на сайте.
        </p>

        <a href="{% url 'calendar' %}" class="back-button">← Вернуться к списку событий</a>
    </div>
</div>
{% endblock %}
